svg#freepik_stories-virtual-reality:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-virtual-reality.animated #freepik--background-complete--inject-94 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#freepik_stories-virtual-reality.animated #freepik--Floor--inject-94 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-virtual-reality.animated #freepik--Plant--inject-94 {
    animation: 1s 1 forwards ease-out zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-virtual-reality.animated #freepik--Character--inject-94 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-virtual-reality.animated #elh3agnh71qat {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0s;
}

svg#freepik_stories-virtual-reality.animated #el7ozz7ympcg8 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.02s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elhx6mx6y9fu {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.04s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elh4y0n605uaf {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.06s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elnz35xnx0f4l {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.08s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #ellplnqw260fe {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.1s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #else4z30gqv0o {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.12s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el6k54h1y1f8w {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.14s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elec64swpdoji {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.16s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el8e88nxjksj {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.18s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eltfs50w0pc2b {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.2s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elu0byegmzt4 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.22s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eloj4uu3y93xm {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.24s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eldtf6pr78y3e {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.26s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eli0oa1mmx67r {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.28s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elcoxzgzm5i4o {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.3s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elrcdhi98vzsp {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.32s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eltcozt47qpv {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.34s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el9hqvr9wt51h {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.36s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elfvzfnw3ofv {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.38s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elp6scz76mu6 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.4s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el6vo4ezhclhl {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.42s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eltkefxgbbt3 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.44s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el6eyq63llywe {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.46s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eltd28xykye9 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.48s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el4fvwefltdb7 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.5s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elentv3q15xho {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.52s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el9s22jo6kec {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.54s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el6ef8ou9w4pm {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.56s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #ellbxat2k0ph8 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.58s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el2m0nk6sp7tj {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.6s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eljyatyu375a {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.62s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eljas6789ls9h {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.64s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el43320nrfsnt {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.66s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elmoh5ib5z3o {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.68s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el0z97a2wvlevr {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.7000000000000001s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #eldw0tuocuq5a {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.72s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el6nn35dnkml {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.74s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elglsx2m1a9lk {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.76s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elmx1y01zy9u {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.78s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el2jgfu8zd0qu {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.8s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elaha4offfoxo {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.8200000000000001s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elq7zpmxrml3s {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.84s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el8bcabc3ub0c {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.86s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #ely9xajwb4iu {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.88s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el3j974pwypb9 {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.9s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elx36svuudin {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.92s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elkzzwf43z6c {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.9400000000000001s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #elny6xsqaa4pa {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.96s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #el2ht8imj7uwy {
    animation: 1s 1 forwards ease-in slideDown;
    animation-delay: 0.98s;
    opacity: 0
}

svg#freepik_stories-virtual-reality.animated #freepik--Galaxy--inject-94 {
    animation: 1s 1 forwards ease-in slideDown, 1.5s Infinite linear floating;
    animation-delay: 0s, 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}